/* ------------------------------------------------------------------------------------*/
/*                              Basic Setup                                            */
/* ------------------------------------------------------------------------------------*/

@font-face {
/*  font-family: GT Walsheim;*/
  src: url(/resources/css/font/GTWalsheimPro-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #484848;
    font-family: GT Walsheim;
    font-weight: 300;
    font-size: 30px;
    text-rendering: optimizeLegibility;
}

header {
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
}

.slideShow {
    height: 100vh;
    position: relative;
}

.mySlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

h1 {
    margin:0 ;
    font-size: 90px;
    letter-spacing: 0px;
    word-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(47, 47, 47);
}

h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
    margin-top: 20px;
}

h2:after {
    display: block;
    height: 4px;
    background-color: orange;
    content: "";
    width: 600px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------------*/
/*                              Landing Page                                     */
/* ------------------------------------------------------------------------------------*/

.hero-text-box {
    position: absolute;
    color: rgb(36, 33, 34);
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 100px;
    font-size: 28px;
    text-decoration: none;
    border-radius: 50px;
    color: #000000;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn:visited {
    background-color: #f7c371;
    margin-right: 30px;
}

.btn-ghost:link,
.btn.ghost:visited {
    background-color: #f8af3a;
}

.btn:hover,
.btn:active {
    background-color: #fbd08c;
}

/* ------------------------------------------------------------------------------------*/
/*                             Navigation Bar                                          */
/* ------------------------------------------------------------------------------------*/

.main-nav {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-nav li {
    display: inline-block;
/*    margin-left: 300px;*/
    width: 30%;
    
}

.main-nav li a:link,
.main-nav li a:visited  {
    text-decoration: none;
    font-size: 40px;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.05s;
    color: black;
    padding: 2px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 4px solid #f8af3a;
} 

.Logo {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content  {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
    right: 0;
    transform: translate3d(5px, 35px, 0px)!important;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* ------------------------------------------------------------------------------------*/
/*                             Features and Showcase                              */
/* ------------------------------------------------------------------------------------*/

.section {
    padding: 10px 0;
}

.section-features .long-copy{
    margin-top: 30px;
    margin-bottom: 20px;
}

.long-copy
{
    text-align: center;
    line-height: 10px;
}

/* ---------ICON--------- */
ion-icon {
    font-size: 64px;
    color: #edae49;
}

/* --------- Showcase --------- */
.section-style {
    padding: 60px;
    margin-bottom: 800px;
}
.style-showcase {
    list-style: none;
    width: 100%;
}

.style-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.style-photo {
    width: 100%;
    height: auto;
    margin:0;
    overflow: hidden;
    background-color: #ffffff;
}

.style-photo img {
    opacity: 0.9;
    width: 100%;
    height:400px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.style-photo img:hover {
    transform: scale(1.03);
}

.minimalist-container,.coastal-container, .bohemian-container, .scandinavian-container, .industrial-container, .rustic-container, .urbanmodern-container, .modernfarmhouse-container {
    position: relative;
}

.minimalist, .coastal, .bohemian, .scandinavian, .industrial, .rustic, .urbanmodern, .modernfarmhouse {
    position: absolute; /* Position the background text */
    text-align: center;
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(92, 92, 92, 0.43); /* Black background with 0.5 opacity */
    color: rgb(255, 255, 255); /* Grey text */
    width: 100%; /* Full width */
}


/* ------------------------------------------------------------------------------------*/
/*                              Sign Up Page                                   */
/* ------------------------------------------------------------------------------------*/

.SignUpLink {
    background:url(/resources/css/img/SignUpBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    border-radius: 5px;
    background-color: transparent;
    box-shadow: none;
}

#name_tag, #email_tag, #password_tag, #choice {
    width: 80%;
    height: 50px;
    font-size: 20pt;
}

#submit_tag {
    background: #2e516f;
    color: white;
    width: 80%;
}

.custom-select {
    width: 100%;
    text-align: center;
}

.SignUp { /*Sign up for Homely */
    width: 40%;
    height: 500px;
    float: left;
    background: rgba(248, 248, 248, 0.88);
    text-align: center;
}

#Next-Step{ /*What's Next */
    width: 40%;
    float: left;
    background: rgba(242, 242, 242, 0.88);
}

#Next-Step li:before {
    content: '✓';
    background: #fdfd6a;
    border-radius: 10px;
  
}
#Next-Step li:  {
    list-style-type: none;
}
